* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 13px;
  background-color: rgb(253, 97, 97);
  color: white;
}
.navbar .icon {
  font-size: 35px;
  padding: 0 15px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.content img {
  width: 400px;
  border-radius: 1rem;
}
.content .details {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.content .details .top-content {
  display: flex;
  margin-bottom: 15px;
}
.content .details .top-content .icon {
  font-size: 25px;
  color: red;
}
.content .details .top-content h2 {
  font-size: 25px;
}
.content .details .top-content a {
  padding: 7px 15px;
  color: gray;
}
.content .details h1 {
  margin-bottom: 12px;
  font-size: 35px;
}
.content .details b {
  margin-bottom: 12px;
  font-size: 15px;
}
.content .details p {
  line-height: 1.5;
  width: 500px;
}
